<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yannsimajchel.portfolio">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.yannsimajchel.portfolio.application.PortfolioApplication"
        android:allowBackup="true"
        android:icon="@drawable/pp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pp"
        android:supportsRtl="true"
        android:theme="@style/Theme.Portfolio">
        <activity
            android:name="com.yannsimajchel.portfolio.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Portfolio"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>